<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<CustomerToolsSettings>
    <HideMeterNumber>False</HideMeterNumber>
    <RateLTL_TurnOffAddressChangeNotifications>False</RateLTL_TurnOffAddressChangeNotifications>
    <RateRequireDimensions>True</RateRequireDimensions>
    <Rate_BrokerType>BROKER_SELECT</Rate_BrokerType>
    <DefaultCurrencyType>USD</DefaultCurrencyType>
    <Handling_FXNLHandlingType>NONE</Handling_FXNLHandlingType>
    <Handling_FXNLHandlingType2>NONE</Handling_FXNLHandlingType2>
    <Handling_FXNLHandlingAmount>0</Handling_FXNLHandlingAmount>
    <Handling_FXNLHandlingAmount2>0</Handling_FXNLHandlingAmount2>
    <RatePackage_SmartPostHandlingType>NONE</RatePackage_SmartPostHandlingType>
    <RatePackage_SmartPostHandlingType2>NONE</RatePackage_SmartPostHandlingType2>
    <RatePackage_SmartPostHandlingAmount>0</RatePackage_SmartPostHandlingAmount>
    <RatePackage_SmartPostHandlingAmount2>0</RatePackage_SmartPostHandlingAmount2>
    <Handling_FOFreightHandlingType>NONE</Handling_FOFreightHandlingType>
    <Handling_FOFreightHandlingType2>NONE</Handling_FOFreightHandlingType2>
    <Handling_FOFreightHandlingAmount>0</Handling_FOFreightHandlingAmount>
    <Handling_FOFreightHandlingAmount2>0</Handling_FOFreightHandlingAmount2>
    <RateLTL_CarryPaymentTypesAfterFirstDefault>False</RateLTL_CarryPaymentTypesAfterFirstDefault>
    <RateLTLFreight_GuarnteedServices>True</RateLTLFreight_GuarnteedServices>
    <RatePrintListRateOnNetQuote>False</RatePrintListRateOnNetQuote>
    <Rate_DisableTransitTimes>False</Rate_DisableTransitTimes>
    <RateTransitTime_ClearOriginZipCode>False</RateTransitTime_ClearOriginZipCode>
    <RatePackage_ServiceType>NONE</RatePackage_ServiceType>
    <RatePackage_DisplayServiceType>True</RatePackage_DisplayServiceType>
    <RatePackage_PackageType>YOUR_PACKAGING</RatePackage_PackageType>
    <RatePackage_DisplayPackageType>True</RatePackage_DisplayPackageType>
    <RatePackage_DeclaredValue>0</RatePackage_DeclaredValue>
    <RatePackage_DisplayDeclaredValue>True</RatePackage_DisplayDeclaredValue>
    <RatePackage_DefaultResidential>False</RatePackage_DefaultResidential>
    <RatePackage_DefaultMPS>True</RatePackage_DefaultMPS>
    <RatePackage_SpecialServices_SignatureOptions>NO_SIGNATURE_REQUIRED</RatePackage_SpecialServices_SignatureOptions>
    <RatePackage_SpecialServices_DisplaySignatureOptions>True</RatePackage_SpecialServices_DisplaySignatureOptions>
    <RatePackage_SpecialServices_ReturnOptions>None</RatePackage_SpecialServices_ReturnOptions>
    <RatePackage_SpecialServices_DisplayReturnOptions>True</RatePackage_SpecialServices_DisplayReturnOptions>
    <RatePackage_SpecialServices_COD>ANY</RatePackage_SpecialServices_COD>
    <RatePackage_SpecialServices_DisplayCOD>True</RatePackage_SpecialServices_DisplayCOD>
    <RatePackage_SpecialServices_DisplaySaturdayDelivery>True</RatePackage_SpecialServices_DisplaySaturdayDelivery>
    <RatePackage_GroundHandlingEnabled>False</RatePackage_GroundHandlingEnabled>
    <RatePackage_ExpressHandlingEnabled>False</RatePackage_ExpressHandlingEnabled>
    <RatePackage_GroundHandlingType>NONE</RatePackage_GroundHandlingType>
    <RatePackage_ExpressHandlingType>NONE</RatePackage_ExpressHandlingType>
    <RatePackage_GroundHandlingAmount>0</RatePackage_GroundHandlingAmount>
    <RatePackage_ExpressHandlingAmount>0</RatePackage_ExpressHandlingAmount>
    <RatePackage_PrintReferenceWithQuote>False</RatePackage_PrintReferenceWithQuote>
    <RatePackage_DisplayNetRate>True</RatePackage_DisplayNetRate>
    <RatePackage_DisplayListRate>True</RatePackage_DisplayListRate>
    <RatePackage_PrintType>LIST</RatePackage_PrintType>
    <RatePackage_DisplayDryIce>False</RatePackage_DisplayDryIce>
    <RatePackage_DropOffType>Regular_Pickup</RatePackage_DropOffType>
    <RatePackage_DisplayDG>True</RatePackage_DisplayDG>
    <Rate_DisableToolTips>False</Rate_DisableToolTips>
    <RatePackage_GroundHandlingType2>NONE</RatePackage_GroundHandlingType2>
    <RatePackage_ExpressHandlingType2>NONE</RatePackage_ExpressHandlingType2>
    <RatePackage_GroundHandlingAmount2>0</RatePackage_GroundHandlingAmount2>
    <RatePackage_ExpressHandlingAmount2>0</RatePackage_ExpressHandlingAmount2>
    <RateLTL_HandlingEnabled>False</RateLTL_HandlingEnabled>
    <RateLTL_HandlingType>NONE</RateLTL_HandlingType>
    <RateLTL_HandlingType2>NONE</RateLTL_HandlingType2>
    <RateLTL_HandlingAmount>0</RateLTL_HandlingAmount>
    <RateLTL_HandlingAmount2>0</RateLTL_HandlingAmount2>
    <RateAllServices_RateFedExFreight>True</RateAllServices_RateFedExFreight>
    <RateAllServices_RateNationalLTL>True</RateAllServices_RateNationalLTL>
    <RateAllServices_RateExpressPackage>True</RateAllServices_RateExpressPackage>
    <RateAllServices_RateGroundPackage>True</RateAllServices_RateGroundPackage>
    <RateAllServices_RateExpressFreight>True</RateAllServices_RateExpressFreight>
    <RateAllServices_RateShipmentDetails>True</RateAllServices_RateShipmentDetails>
    <RateAllServices_SkidDetails>False</RateAllServices_SkidDetails>
    <RateAllServices_Residential>False</RateAllServices_Residential>
    <RateSmartpost>False</RateSmartpost>
    <RateSmartPostEndoresement>NONE</RateSmartPostEndoresement>
    <RateSmartPostServiceType>NONE</RateSmartPostServiceType>
    <RateSmartPostHubIDs />
    <RateLTL_PaymentType>Prepaid</RateLTL_PaymentType>
    <RateLTL_BoxType>SKID</RateLTL_BoxType>
    <RateLTL_ShipperType>Shipper</RateLTL_ShipperType>
    <RateLTL_SingleShipment>True</RateLTL_SingleShipment>
    <screens_RatingPackage>True</screens_RatingPackage>
    <screens_RatingExpressFreight>True</screens_RatingExpressFreight>
    <screens_RatingTransitTime>True</screens_RatingTransitTime>
    <screens_RatingFedExFreight>True</screens_RatingFedExFreight>
    <screens_RatingBatch>True</screens_RatingBatch>
    <TransitTimes_DisplayOptimizer>False</TransitTimes_DisplayOptimizer>
    <SelectedHandlingType>Basic</SelectedHandlingType>
    <Handling_2DayAM_Type>NONE</Handling_2DayAM_Type>
    <Handling_2DayAM_Type2>NONE</Handling_2DayAM_Type2>
    <Handling_2DayAM_Amount>0</Handling_2DayAM_Amount>
    <Handling_2DayAM_Amount2>0</Handling_2DayAM_Amount2>
    <Handling_FirstOvernight_Type>NONE</Handling_FirstOvernight_Type>
    <Handling_FirstOvernight_Type2>NONE</Handling_FirstOvernight_Type2>
    <Handling_PriorityOvernight_Type>NONE</Handling_PriorityOvernight_Type>
    <Handling_PriorityOvernight_Type2>NONE</Handling_PriorityOvernight_Type2>
    <Handling_StandardOvernight_Type>NONE</Handling_StandardOvernight_Type>
    <Handling_StandardOvernight_Type2>NONE</Handling_StandardOvernight_Type2>
    <Handling_2Day_Type>NONE</Handling_2Day_Type>
    <Handling_2Day_Type2>NONE</Handling_2Day_Type2>
    <Handling_ExpressSaver_Type>NONE</Handling_ExpressSaver_Type>
    <Handling_ExpressSaver_Type2>NONE</Handling_ExpressSaver_Type2>
    <Handling_Ground_Type>NONE</Handling_Ground_Type>
    <Handling_Ground_Type2>NONE</Handling_Ground_Type2>
    <Handling_HomeDelivery_Type>NONE</Handling_HomeDelivery_Type>
    <Handling_HomeDelivery_Type2>NONE</Handling_HomeDelivery_Type2>
    <Handling_EuropeFirst_Type>NONE</Handling_EuropeFirst_Type>
    <Handling_EuropeFirst_Type2>NONE</Handling_EuropeFirst_Type2>
    <Handling_InternationalFirst_Type>NONE</Handling_InternationalFirst_Type>
    <Handling_InternationalFirst_Type2>NONE</Handling_InternationalFirst_Type2>
    <Handling_InternationalPriority_Type>NONE</Handling_InternationalPriority_Type>
    <Handling_InternationalPriority_Type2>NONE</Handling_InternationalPriority_Type2>
    <Handling_InternationalEconomy_Type>NONE</Handling_InternationalEconomy_Type>
    <Handling_InternationalEconomy_Type2>NONE</Handling_InternationalEconomy_Type2>
    <Handling_InternationalGround_Type>NONE</Handling_InternationalGround_Type>
    <Handling_InternationalGround_Type2>NONE</Handling_InternationalGround_Type2>
    <Handling_1DayFreight_Type>NONE</Handling_1DayFreight_Type>
    <Handling_1DayFreight_Type2>NONE</Handling_1DayFreight_Type2>
    <Handling_2DayFreight_Type>NONE</Handling_2DayFreight_Type>
    <Handling_2DayFreight_Type2>NONE</Handling_2DayFreight_Type2>
    <Handling_3DayFreight_Type>NONE</Handling_3DayFreight_Type>
    <Handling_3DayFreight_Type2>NONE</Handling_3DayFreight_Type2>
    <Handling_LTLFreight_Type>NONE</Handling_LTLFreight_Type>
    <Handling_LTLFreight_Type2>NONE</Handling_LTLFreight_Type2>
    <Handling_InternationalPriorityFreight_Type>NONE</Handling_InternationalPriorityFreight_Type>
    <Handling_InternationalPriorityFreight_Type2>NONE</Handling_InternationalPriorityFreight_Type2>
    <Handling_InternationalEconomyFreight_Type>NONE</Handling_InternationalEconomyFreight_Type>
    <Handling_InternationalEconomyFreight_Type2>NONE</Handling_InternationalEconomyFreight_Type2>
    <Handling_FirstOvernight_Amount>0</Handling_FirstOvernight_Amount>
    <Handling_FirstOvernight_Amount2>0</Handling_FirstOvernight_Amount2>
    <Handling_PriorityOvernight_Amount>0</Handling_PriorityOvernight_Amount>
    <Handling_PriorityOvernight_Amount2>0</Handling_PriorityOvernight_Amount2>
    <Handling_StandardOvernight_Amount>0</Handling_StandardOvernight_Amount>
    <Handling_StandardOvernight_Amount2>0</Handling_StandardOvernight_Amount2>
    <Handling_2Day_Amount>0</Handling_2Day_Amount>
    <Handling_2Day_Amount2>0</Handling_2Day_Amount2>
    <Handling_ExpressSaver_Amount>0</Handling_ExpressSaver_Amount>
    <Handling_ExpressSaver_Amount2>0</Handling_ExpressSaver_Amount2>
    <Handling_Ground_Amount>0</Handling_Ground_Amount>
    <Handling_Ground_Amount2>0</Handling_Ground_Amount2>
    <Handling_HomeDelivery_Amount>0</Handling_HomeDelivery_Amount>
    <Handling_HomeDelivery_Amount2>0</Handling_HomeDelivery_Amount2>
    <Handling_EuropeFirst_Amount>0</Handling_EuropeFirst_Amount>
    <Handling_EuropeFirst_Amount2>0</Handling_EuropeFirst_Amount2>
    <Handling_InternationalFirst_Amount>0</Handling_InternationalFirst_Amount>
    <Handling_InternationalFirst_Amount2>0</Handling_InternationalFirst_Amount2>
    <Handling_InternationalPriority_Amount>0</Handling_InternationalPriority_Amount>
    <Handling_InternationalPriority_Amount2>0</Handling_InternationalPriority_Amount2>
    <Handling_InternationalEconomy_Amount>0</Handling_InternationalEconomy_Amount>
    <Handling_InternationalEconomy_Amount2>0</Handling_InternationalEconomy_Amount2>
    <Handling_InternationalGround_Amount>0</Handling_InternationalGround_Amount>
    <Handling_InternationalGround_Amount2>0</Handling_InternationalGround_Amount2>
    <Handling_1DayFreight_Amount>0</Handling_1DayFreight_Amount>
    <Handling_1DayFreight_Amount2>0</Handling_1DayFreight_Amount2>
    <Handling_2DayFreight_Amount>0</Handling_2DayFreight_Amount>
    <Handling_2DayFreight_Amount2>0</Handling_2DayFreight_Amount2>
    <Handling_3DayFreight_Amount>0</Handling_3DayFreight_Amount>
    <Handling_3DayFreight_Amount2>0</Handling_3DayFreight_Amount2>
    <Handling_LTLFreight_Amount>0</Handling_LTLFreight_Amount>
    <Handling_LTLFreight_Amount2>0</Handling_LTLFreight_Amount2>
    <Handling_InternationalPriorityFreight_Amount>0</Handling_InternationalPriorityFreight_Amount>
    <Handling_InternationalPriorityFreight_Amount2>0</Handling_InternationalPriorityFreight_Amount2>
    <Handling_InternationalEconomyFreight_Amount>0</Handling_InternationalEconomyFreight_Amount>
    <Handling_InternationalEconomyFreight_Amount2>0</Handling_InternationalEconomyFreight_Amount2>
    <Handling_GroundMWT_Type1>NONE</Handling_GroundMWT_Type1>
    <Handling_GroundMWT_Type2>NONE</Handling_GroundMWT_Type2>
    <Handling_GroundMWT_Amount1>0</Handling_GroundMWT_Amount1>
    <Handling_GroundMWT_Amount2>0</Handling_GroundMWT_Amount2>
    <Handling_GroundMwtDifferentHandlingThenGround>False</Handling_GroundMwtDifferentHandlingThenGround>
    <RateExpressFreight_DeclaredValue>0</RateExpressFreight_DeclaredValue>
    <RateExpressFreight_DisplayDeclaredValue>True</RateExpressFreight_DisplayDeclaredValue>
    <RateExpressFreight_ExpressFreightHandlingType>NONE</RateExpressFreight_ExpressFreightHandlingType>
    <RateExpressFreight_ExpressFreightHandlingEnabled>False</RateExpressFreight_ExpressFreightHandlingEnabled>
    <RateExpressFreight_ExpressFreightHandlingAmount>0</RateExpressFreight_ExpressFreightHandlingAmount>
    <RateExpressFreight_DefaultMPS>False</RateExpressFreight_DefaultMPS>
    <RateExpressFreight_DefaultResidential>False</RateExpressFreight_DefaultResidential>
    <RateLTLFreight_NMFCClass />
    <RateExpressFreight_ExpressFreightHandlingType2>NONE</RateExpressFreight_ExpressFreightHandlingType2>
    <RateExpressFreight_ExpressFreightHandlingAmount2>0</RateExpressFreight_ExpressFreightHandlingAmount2>
    <RateExpressFreight_SpecialServices_DisplayCOD>True</RateExpressFreight_SpecialServices_DisplayCOD>
    <RateExpressFreight_SpecialServices_DisplayInsideDelivery>True</RateExpressFreight_SpecialServices_DisplayInsideDelivery>
    <RateExpressFreight_SpecialServices_DisplayHAL>True</RateExpressFreight_SpecialServices_DisplayHAL>
    <RateExpressFreight_SpecialServices_DisplayReturnSolutions>True</RateExpressFreight_SpecialServices_DisplayReturnSolutions>
    <RateExpressFreight_SpecialServices_ReturnOptions>None</RateExpressFreight_SpecialServices_ReturnOptions>
    <RateExpressFreight_SpecialServices_COD>ANY</RateExpressFreight_SpecialServices_COD>
    <AdminSecretAnswer />
    <AdminSecretQuestion />
    <screens_Rating>True</screens_Rating>
    <screens_Tracking>True</screens_Tracking>
    <screens_Verifi>True</screens_Verifi>
    <screens_Locator>True</screens_Locator>
    <screens_FedExCOM>True</screens_FedExCOM>
    <DefaultScreen>Rating</DefaultScreen>
    <screens_RatingAllServices>False</screens_RatingAllServices>
    <OptimizeForSmallerScreens>False</OptimizeForSmallerScreens>
    <DebugOutput>False</DebugOutput>
    <DebugOutputPath />
    <tracking_NotifySenderName />
    <tracking_NofitySenderEmail />
    <tracking_NotifyDelivery>False</tracking_NotifyDelivery>
    <tracking_NotifyShipment>False</tracking_NotifyShipment>
    <tracking_NotifyException>False</tracking_NotifyException>
    <tracking_NotifyEmailFormat>HTML</tracking_NotifyEmailFormat>
    <tracking_ImagePath>C:\Documents and Settings\administrator.INTERNAL\My Documents\FedEx Customer Tools\SPODS\</tracking_ImagePath>
    <tracking_defaultMethod>Tracking Number</tracking_defaultMethod>
    <tracking_TrackUsingThirdPartyAccounts>False</tracking_TrackUsingThirdPartyAccounts>
    <tracking_DetailScans>True</tracking_DetailScans>
    <Proxy_ContentLength>False</Proxy_ContentLength>
    <Proxy_Enabled>False</Proxy_Enabled>
    <Proxy_Server />
    <Proxy_Port />
    <Proxy_User />
    <Proxy_Password />
    <Proxy_Domain />
    <Threads_NumberAllowed>5</Threads_NumberAllowed>
    <BackupsEnabled>False</BackupsEnabled>
    <BackupType>Weekly</BackupType>
    <Password_UserLevel />
    <AlwaysShowScrollBars>False</AlwaysShowScrollBars>
</CustomerToolsSettings>